<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/x-community.svg" />
        <!-- <span class="title">X Community</span> -->
      </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2020 X Community
    </global-footer>
  </div>
</div>
<layout-theme-btn></layout-theme-btn>
